a.wrapnRadio{
	display:inline-block;
	width:14px;
	height:14px;
	text-decoration: none;
	outline: none;
	z-index: 99;
}
a input{
	/*visibility: hidden;*/
	display: none;
}
.nRadioUnchecked{
	background:#fff url(../images/nRadio.png?20141207) no-repeat 0 0;
}
.nRadioChecked{
	background:#fff url(../images/nRadio.png?20141207) no-repeat 0 -14px;
}